<html>
<head>
     <title>Auto Price Prediction</title>
</head>
<body>
     <h1>Auto Price Prediction</h1>
     <p>Predict Auto Price using Linear Regression</p>
     <form method="POST" action="/predict">
           <p>wheel_base</p>
           <input name="wb"/>

           <p>length</p>
           <input name="lent"/>

           <p>width</p>
           <input name="wid"/>

           <p>fuel_system</p>
           <input name="fs" required/>

           <p>bore</p>
           <input name="bore" required/>

           <p>horsepower</p>
           <input name="hp" required/>

           <p>city_mpg</p>
           <input name="cmpg" required/>

           <br>
           <br>
           <br>

           <button type="submit">Submit</button>

      </form>
</body>


</html>